*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Red Hat Display', sans-serif;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1, h2, h3, h4 {
    font-weight: 700px;
}

h1 {
    font-size: 80px;
    line-height: 120%;
}

h2 {
    font-size: 40px;
    line-height: 120%;
}

h3 {
    font-size: 20px;
    line-height: 140%;
}

h4 {
    font-size: 18px;
    line-height: 140%;
}

.t1 {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
}

.t2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
}

a {
    text-decoration: none;
    color: inherit;
}

.header-wrap {
    border-bottom: 1px solid #D9D9D9;
}


header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    max-width: 1340px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;

    & > a {
        align-self: center;
    }

    .links {
        align-self: flex-end;
        display: flex;
        column-gap: 10px;

        .item {
            padding: 10px 20px 28px 20px;
            font-weight: 700;
            font-size: 18px;
            line-height: 140%;
            color: #111111;
            transition: 0.3s ease-in-out;
            cursor: pointer;
            position: relative;

            &:hover {
                background-color: #9E3039;
                color: #fff;

                .dropdown {
                    visibility: visible;
                    opacity: 1;
                }
            }

            &.lang {
                .dropdown {
                    flex-direction: column;
                    width: 100%;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 140%;

                    a {
                        width: 100%;
                    }
                }
            
            }

            .dropdown {
                display: inline-flex;
                align-items: flex-start;
                position: absolute;
                width: auto;
                top: 100%;
                left: 0;
                transition: opacity 0.3s ease-in-out;
                z-index: 100;
                visibility: hidden;
                opacity: 0;

                & > div {
                    flex-shrink: 0;
                    background-color: #9E3039;
                    color: #fff;
                    padding: 10px 20px;
                    position: relative;

                    &:hover {
                        padding-bottom: 30px;

                        .dropdown.small {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }

                a {
                    background-color: #9E3039;
                    flex-shrink: 0;
                    display: block;
                    color: #fff;
                    padding: 10px 20px;
                }

                .dropdown.small {
                    transition: none !important;
                    visibility: hidden;
                    position: absolute;
                    align-items: stretch;
                    top: 100%;
                    left: 0;
                    display: flex;
                    flex-direction: column;
                    width: 250px;
                    opacity: 0;

                    a {
                        display: block;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 140%;
                        color: #FFFFFF;
                        padding: 10px 20px;
                        transition: 0.3s ease-in-out;

                        &:hover {
                            background-color: #8A1C25;
                        }
                    }
                }
            }
        }

        a.item {
            margin-bottom: 18px;
            padding: 10px 20px;
        }
    }
}

footer {
    position: relative;
    background-color: #9E3039;
    color: #fff;
    overflow: hidden;

    h4 {
        color: #fff;
    }

    .footer-wrap {
        max-width: 1340px;
        width: 100%;
        padding: 73px 20px 130px 20px;
        margin: 0 auto;
    }

    .logo {
        margin-bottom: 54px;
    }

    .footer-flex {
        display: flex;
        justify-content: space-between;

        &.big {
            justify-content: flex-start;
            column-gap: 96px;
        }

        .contact {
            max-width: 295px;
            width: 100%;
            h3 {
                margin-bottom: 20px;
            }
        }

        .links {
            display: flex;
            justify-content: space-between;
            column-gap: 60px;
            .item {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                max-width: 160px;
                width: 100%;

                h4 {
                    margin-bottom: 20px;

                    a {
                        font-weight: inherit;
                        font-size: inherit;
                        margin-bottom: 0;
                        line-height: inherit;
                        text-decoration: none !important;
                    }
                }

                a {
                    display: inline-block;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 140%;
                    color: #FFFFFF;
                    margin-bottom: 10px;
                    position: relative;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                &.big {
                    flex-shrink: 0;
                    max-width: 249px;
                    width: 100%;
                }
            }
        }
    }

    .button {
        max-width: 295px;
        display: flex;
        width: 100%;
        background-color: #E0E0E0;
        color: #9E3039;
        transition: 0.3s ease-in-out;
        column-gap: 10px;
        font-weight: 700;
        font-size: 18px;
        line-height: 140%;
        padding: 15px 25px;
        margin-top: 58px;

        span:last-of-type {
            transition: transform 0.3s ease-in-out;
        }

        &:hover {
            background-color: #8A1C25;
            color: #fff;

            span:last-of-type {
                transform: translateX(5px);
            }
        }
    }

    .copyright {
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: #50181C;
        align-self: flex-end;
    }
}

.mob-logo {
    display: none;
}

.hamburger {
    display: none;
}

.mob-menu {
    overflow-y: scroll;
    position: fixed;
    bottom: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: #9E3039;
    transition: 0.3s ease-in-out;
    transform: translateX(100%);

    &.active {
        transform: none;
    }

    .menu-header {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        height: auto;
        align-items: center;
        margin-bottom: 30px;
    }

    .dropdown {

        &.active {
            background-color: #8F212A;
        }

        .head {
            padding: 10px 20px;
            font-weight: 700;
            font-size: 25px;
            line-height: 120%;
            color: #FFFFFF;
        }
        .links {
            display: none;
            padding-top: 15px;
            padding-bottom: 20px;

            .item {
                font-weight: 700;
                font-size: 18px;
                line-height: 140%;
                color: #FFFFFF;
                display: block;
                padding: 10px 20px;
            }
        }

        .dropdown {
            &.active {
                background-color: #7F1D25;
            }
            .head {
                font-weight: 700;
                font-size: 18px;
                line-height: 140%;
                color: #FFFFFF;
                display: block;
                padding: 0;
            }
            .links a {
                font-weight: 300;
                font-size: 16px;
                line-height: 140%;
                color: #FFFFFF;
                display: block;
                padding: 10px 0;
            }
        }
    }

    .langs {
        margin-top: 270px;
        display: flex;
        margin-bottom: 40px;
        
        a {
            font-weight: 700;
            font-size: 25px;
            line-height: 120%;
            color: #FFFFFF;
            padding: 10px 20px;

            &.active {
                background-color: #fff;
                color: #9E3039;
            }
        }
    }
}

.parallax-be {
    background-image: url(../images/parallax.jpeg);
    background-attachment: fixed;
}

.section-container {
    position: relative;
    max-width: 1340px;
    width: 100%;
    margin: 0 auto;
    padding: 150px 20px;

    &.small-padding-top {
        padding-top: 80px;
    }

    h2.small {
        max-width: 591px;
        width: 100%;

    }
}

.split-flex {
    margin-bottom: 95px;
    display: flex;
    align-items: flex-start;

    .left {
        padding-top: 70px;
        max-width: 650px;
        width: 100%;
    }
    .right {
        width: 650px;
        position: relative;

        &:hover {
            .mask-image {
                mask-position: -80% 0;
                transform: translateX(2%);
            }
            .bg {
                transform: scale(0.9) translateX(20px);
                
            }
        }
    }

    .mask-image {
        z-index: 1;
        position: relative;
        mask-image: url(../images/image-mask.svg);
        overflow: hidden;
        mask-repeat: no-repeat;
        mask-position: -100% 0;
        aspect-ratio: 722/682;
        object-fit: contain;
        transition: 0.2s ease-in;

      
    }

    .bg {
        position: absolute;
        width: 48%;
        height: auto;
        top: 18%;
        right: 0;
        transition: 0.2s ease-in;
    }
}

.octa {
    overflow: hidden;
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    border: 1px solid #E0E0E0;
    background-color: #fff;
    padding-left: 350px;
    padding-top: 50px;
    padding-bottom: 80px;
    padding-right: 90px;
    transition: 0.3s ease-in-out;

    &:hover {
        background-color: #9E3039;
        h1 {
            color: white;
        }
        .flex {
            p {
                color: white;
            }
        }

        .car {
            transform: translateX(-40%) rotate(2deg);
            filter: grayscale(0);
        }
    }

    h1 {
        transition: 0.3s ease-in-out;
    }

    .flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        column-gap: 10px;

        p {
            font-weight: 400;
            font-size: 20px;
            line-height: 160%;
            color: #444444; 
            max-width: 532px;
            width: 100%;
            transition: 0.3s ease-in-out;
        }

        .link {
            border: 1px solid white;
            background-color: #9E3039;
            display: inline-flex;
            padding: 20px 30px;
            column-gap: 10px;
            color: #fff;
            transition: 0.3s ease-in-out;
            font-weight: 700;
            flex-shrink: 0;

            span {
                transition: transform 0.3s ease-in-out;
            }

            &:hover {
                background-color: white;
                color: #9E3039;

                span:last-of-type {
                    transform: translateX(5px);
                }
            }
        }
    }

    .car {
        position: absolute;
        height: 100%;
        width: auto;
        top: 0;
        left: 0;
        transform: translateX(-45%);
        filter: grayscale(100%);

        transition: 0.3s ease-in-out;
    }
}

.page-image {
    z-index: 0;
    position: absolute;
    max-width: 535px;
    max-height: 401px;
    width: 100%;
    height: auto;
    aspect-ratio: 535/401;
    top: 0;
    right: 20px;
    background:inherit;
    
    img {
        position: relative;
    }

    &.pattern1 {
        .patern1 {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
            height: auto;
            width: 57%;
        }
        .patern2 {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 2;
            width: auto;
            height: 100%;
        }
    }

    .patern1 {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
        height: 100%;
        width: auto;
    }
    .patern2 {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 2;
        width: 57%;
        height: auto;
    }
}

section {
    border-bottom: 1px solid #E0E0E0;
    color: #111;

    .t1 {
        color: #444;
        margin-bottom: 25px;

        strong {
            color: #111;
        }

        &.contact-info {
            color: #645E5E;
            white-space: pre-line;
        }
    }
    
    h1 {
        color: #111111;
        margin-bottom: 50px;

        &.small {
            max-width: 591px;
            width: 100%;
            margin-bottom: 42px;
        }

        & + .date {
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            color: #444444;
            margin-bottom: 50px;
        }
    }
    .page-title {
        margin-bottom: 80px;
    }

    h2 {
        color: #111;
        margin-bottom: 25px;
    }

    .t1 + h2 {
        margin-top: 50px;
    }

    .gallery + h2 {
        margin-top: 50px;
    }

    .t1.small-margin {
        margin-bottom: 10px;
    }

    .date {
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        display: flex;
        align-items: flex-end;
        color: #444444;
        margin-bottom: 50px;
    }

    .back-link {
        display: inline-flex;
        column-gap: 10px;
        font-weight: 700;
        font-size: 18px;
        line-height: 140%;
        color: #9E3039;
        padding: 15px 25px;
        background-color: #E0E0E0;
        transition: background-color 0.3s ease-in-out;
        margin-top: 50px;

        span {
            transition: 0.3s ease-in-out;
        }

        &:hover {
            color: #fff;
            background-color: #9E3039;
            span {
                transform: translateX(-5px);
            }
        }
    }
}

.login-form {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-image: url(../images/parallax.jpeg);
    background-attachment: fixed;
    padding-top: 163px;
    padding-bottom: 160px;
    overflow: hidden;

    .content-warp {
        max-width: 504px;
        width: 100%;
        margin: 0 auto;
    }

    .logo {
        max-width: 398px;
        width: 100%;
        height: auto;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .form-wrap {
        width: 100%;
        padding: 60px 107px;
        background-color: #9E3039;
        border: 1px solid #E0E0E0;
        margin-bottom: 41px;

        h1 {
            font-weight: 700;
            font-size: 30px;
            line-height: 140%;
            text-align: center;
            color: #FFFFFF;
            margin-bottom: 25px;
        }

        form {
            input {
                border: 1px solid #E0E0E0;
                font-weight: 700;
                font-size: 18px;
                line-height: 140%;
                display: flex;
                align-items: center;
                text-align: center;
                color: #8A8A8A;
                padding: 18px 20px;
                margin-bottom: 15px;
                width: 100%;
                text-align: left;
                outline: none;
                appearance: none;
            }

            input[type="submit"] {
                background: #E0E0E0;
                color: #9E3039;
                font-weight: 700;
                font-size: 18px;
                line-height: 140%;
                margin-bottom: 0;
                text-align: center;
                width: fit-content;
                margin: 0 auto;
                cursor: pointer;
            }
        }
    }

    .back {
        font-weight: 700;
        font-size: 18px;
        line-height: 140%;
        text-align: center;
        color: #9E3039;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 17px;
    }
}

.slider-wrap {
    height: 600px;
}
.swiper {
    border-bottom: 1px solid #D9D9D9;
    position: relative;
    height: 600px;
    width: 100%;

    .button {
        display: inline-flex;
        font-weight: 700;
        font-size: 18px;
        line-height: 140%;
        padding: 15px 36px;
        background-color: #E0E0E0;
        color: #9E3039;
        column-gap: 10px;
        transition: background-color 0.3s ease-in-out;
        margin-top: 65px;

        span:last-of-type {
            transition: transform 0.3s ease-in-out;
        }

        &:hover {
            background-color: #9E3039;
            color: #fff;
            span:last-of-type {
                transform: translateX(5px);
            }
        }
    }

    .swiper-slide {
        width: 100%;
        height: 100%;

        .text-container {
            transition: 0.5s ease-in-out;
            transform: translateX(-200%);
        }

        .img {

            .text-bg {
                height: 100%;
                width: 61%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
            }

            .image {
                height: 100%;
                width: 57%;
                object-fit: cover;
                position: absolute;
                top: 0;
                right: 0;
                transition: 0.5s ease-in-out;
                transform: translateX(100%);
            }
        }

        &.swiper-slide-active {
            transform: none;

            .img {
                .image {
                    transform: none;
                }
            }

            .text-container {
                transform: none;
            }
        }
    }

    .text-wrap {
        position: relative;
        z-index: 1;
        max-width: 1340px;
        width: 100%;
        padding: 141px 20px 50px 20px;
        margin: 0 auto;

        .text-container {
            width: 486px;
        }
    }

    .subtitle {
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: #645E5E;
    }

    .title {
        font-weight: 700;
        font-size: 40px;
        line-height: 120%;
        color: #2E0000;
    }

    .el-wrap {
        max-width: 1340px;
        width: 100%;
        padding: 0 20px;
        position: absolute;
        top: 49px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        gap: 380px;
        z-index: 1;

        .arrows {
            display: flex;
            column-gap: 25px;

            div {
                width: 25px;
                height: auto;
                cursor: pointer;
            }
        }

        

        .swiper-pagination-bullet {
            border-radius: 0;
            width: 15px;
            height: 3px;
            margin: 0;
            position: relative;
            opacity: 1;
            background-color: #D9D9D9;

            &::before {
                content: '';
                width: 3px;
                height: 6px;
                position: absolute;
                background-color: #fff;
                left: -2px;
                z-index: 2;
                top: -1px;
                transform: rotate(-20deg);
            }

            &:last-of-type {
                &::after {
                    content: '';
                    width: 3px;
                    height: 6px;
                    position: absolute;
                    background-color: #fff;
                    right: -1px;
                    z-index: 2;
                    top: -1px;
                    transform: rotate(-20deg);
                }
            }
        }

        .swiper-pagination-bullet-active {
            background-color: #9E3039;
        }
    }
}

.riki {
    display: flex;
    align-items: stretch;

    .left {
        width: 42%;
        border-top: 1px solid #E0E0E0;
        border-left: 1px solid #E0E0E0;

        .item {
            cursor: pointer;
            padding: 20px 30px;
            font-weight: 700;
            font-size: 20px;
            line-height: 140%;
            color: #111111;
            transition: 0.3s ease-in-out;
            border-bottom: 1px solid #E0E0E0;

            &.active {
                background-color: #9E3039;
                color: #fff;
            }
        }
    }
    .right {
        width: 58%;
        position: relative;

        .pattern {
            position: absolute;
            z-index: 2;
            right: 0;
            top: 0;
            transition: 0.3s ease-in-out;
        }

        .images {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                transition: 0.3s ease-in-out;
                transform: translateX(100%) scale(1.05);
                
                &.active {
                    transform: scale(1.05);
                    z-index: 1;
                }
            }
        }

        &:hover {
            .pattern {
                transform: translateX(100%);
            }

            .images {

                img.active {
                    transform: scale(1.05) rotate(2deg);
                }
            }
        }
    }
}

.gallery {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 80px;

    &.small-gap {
        column-gap: 60px;
        row-gap: 50px;
    }

    .item {
        max-width: 260px;
        width: 100%;

        .name {
            font-weight: 700;
            font-size: 20px;
            line-height: 140%;
            color: #111111;
        }

        .small-text {
            margin-top: 20px;
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            color: #444444;
        }

        .img-wrap {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: auto;
            aspect-ratio: 260/195;
            cursor: pointer;
            margin-bottom: 20px;

            &.small {
                height: 100px;
                aspect-ratio: 260/100;
                display: flex;
                align-items: center;
            }

            .image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: relative;
            }
            
            .pattern {
                position: absolute;
                top:0;
                right: 0;
                max-width: 113px;
                z-index: 1;
            }
        }

        .text-wrap {
            font-weight: 700;
            font-size: 18px;
            line-height: 140%;
            color: #111111;
        }

        &.big {
            display: flex;
            column-gap: 30px;
            max-width: 600px;
            width: 100%;

            .img-wrap {
                max-width: 367px;
                margin-bottom: 0;
                flex-shrink: 0;
            }

            .text-wrap {
                display: flex;
                font-size: 20px;
                flex-direction: column;
                justify-content: space-between;

                span {
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 160%;
                    color: #707070;
                }
            }
        }
    }

    &.animated {
        .item .img-wrap img {
            transition: 0.3s ease-in-out;

            &.image {
                transform: scale(1.05);
            }
        }

        .item {
            &:hover {
                .img-wrap {
                    .pattern {
                        transform: translateX(100%);
                    }
                    .image {
                        transform: scale(1.05) rotate(2deg);
                    }
                }
            }
        }
    }
}

.split-page {
    display: flex;
    align-items: flex-start;
    column-gap: 100px;
    position: relative;

    aside {
        &.big-margin {
            margin-top: 312px;
        }

        margin-top: 145px;
        max-width: 250px;
        width: 100%;
        flex-shrink: 0;
        border-top: 1px solid #E0E0E0;
        border-left: 1px solid #E0E0E0;
        border-right: 1px solid #E0E0E0;

        &.with-archive {
            border: none;
        }

        .links {
            border-top: 1px solid #E0E0E0;
            border-left: 1px solid #E0E0E0;
            border-right: 1px solid #E0E0E0;
        }

        .item {
            width: 100%;
            padding: 15px 20px;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 140%;
            color: #111111;
            border-bottom: 1px solid #E0E0E0;
            display: block;
            transition: 0.3s ease-in-out;
            background-color: #fff;

            &:hover {
                background-color: #E0E0E0;
            }

            &.active {
                color: #fff;
                background-color: #9E3039;
            }

            &.multiple {
                padding: 0;
                border-bottom: 1px solid #E0E0E0;

                div {
                    padding: 15px 20px;

                    &.active {
                        background-color: #94262F;
                    }
                }

                a {
                    display: block;
                    padding: 15px 20px;

                    &.active {
                        background-color: #94262F;
                    }
                }
            }
        }
    }

    .main-block {
        width: 100%;
    }
}

.kontakt-flex {
    display: flex;
    column-gap: 50px;
    justify-content: space-between;
    margin-bottom: 50px;

    .col {
        width: calc(50% - 25px);

        .info-title {
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            color: #111111;
        }

        .info {
            font-weight: 700;
            font-size: 20px;
            line-height: 140%;
            color: #111111;

            &:not(:last-of-type) {
                margin-bottom: 20px;
            }
        }
    }
}

.map-wrap {
    width: 100%;
    height: auto;
    aspect-ratio: 950/645;
}

.page-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

    .buttons {
        display: flex;
        align-items: center;
        column-gap: 20px;

        .link {
            display: flex;
            column-gap: 10px;
            padding: 15px 25px;
            font-weight: 700;
            font-size: 18px;
            line-height: 140%;
            color: #9E3039;
            background-color: #E0E0E0;
            transition: background-color 0.3s ease-in-out;

            &:hover {
                background-color: #9E3039;
                color: #fff;
            }

            span {
                transition: 0.3s ease-in-out;
            }

            &:first-of-type {
                &:hover {
                    span {
                        transform: translateX(-5px);
                    }
                }
            }

            &:last-of-type {
                &:hover {
                    span {
                        transform: translateX(5px);
                    }
                }
            }
        }
    }

    .pages {
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: #4F4F4F;
        display: flex;
        align-items: center;
        column-gap: 10px;
        .current {
            width: 53px;
            height: 53px;
            border: 1px solid #E0E0E0;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
        }
    }
}

.list-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: #111111;
    margin-bottom: 10px;
}

ul.list {
    list-style: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #444444;
    margin-bottom: 25px;

    li {
        display: flex;
        column-gap: 15px;
    }

    li::before {
        content: "";
        background-color: #9E3039;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        margin-top: 10px;
        flex-shrink: 0;
    }
}

.list + h2 {
    margin-top: 50px;
}

.list + .t1 {
    margin-top: 25px;
}

.archive {
    margin-top: 60px;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: #645E5E;

    .title {
        margin-bottom: 20px;
    }

    a {
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: #6C6C6C;
        margin-bottom: 10px;

        &:hover {
            text-decoration: underline;
        }
    }

    .dropdown {
        display: none;
    }

    .dropdown-head {
        margin-top: 20px;
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        color: #444444;
        display: flex;
        align-items: center;
        column-gap: 10px;
        cursor: pointer;

        span {
            font-size: 10px;
            transition: 0.3s ease-in-out;
        }

        &.active {
            span {
                transform: rotate(180deg);
            }
        }
    }
}

.tables {
    margin-top: 50px;

    .item {
        border: 1px solid #E0E0E0;
        background-color: #fff;
        
        &:not(:last-of-type) {
            margin-bottom: 25px;
        }

        .head {
            font-weight: 700;
            font-size: 18px;
            line-height: 140%;
            color: #111111;
            display: flex;
            justify-content: space-between;
            padding: 10px 20px;
            transition: 0.3s ease-in-out;
            cursor: pointer;

            span {
                transition: 0.3s ease-in-out;
            }

            &:hover {
                background-color: #E0E0E0;
            }

            &.active {
                background-color: #fff;

                span {
                    transform: rotate(180deg);
                }
            }
        }

        .body {
            padding: 10px 20px;
            display: none;
        }

        .dropdown {
            margin-bottom: 10px;
            
            .dropdown-head {
                display: flex;
                column-gap: 10px;
                font-weight: 600;
                font-size: 14px;
                line-height: 140%;
                color: #444444;
                cursor: pointer;

                span:first-of-type {
                    width: 87px;
                }

                span:last-of-type {
                    transition: 0.3s ease-in-out;
                }

                &.active {
                    span:last-of-type {
                        transform: rotate(180deg);
                    }
                }
            }

            .dropdown-body {
                padding-top: 10px;
                display: flex;
                gap: 25px;
                flex-wrap: wrap;
                align-items: stretch;

                a {
                    width: 165px;
                    transition: 0.3s ease-in-out;
                    border: 1px solid #E0E0E0;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 140%;
                    color: #111111;
                    padding: 10px;
                    img {
                        margin-bottom: 10px;
                    }

                    &:hover {
                        background-color: #E0E0E0;
                    }
                }
            }
        }
    }
}

.parskati-flex {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    align-items: stretch;
    a {
        width: 165px;
        transition: 0.3s ease-in-out;
        border: 1px solid #E0E0E0;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: #111111;
        padding: 10px;
        background-color: #fff;
        img {
            margin-bottom: 10px;
        }

        &:hover {
            background-color: #E0E0E0;
        }
    }
}

.image-text {
    display: flex;
    column-gap: 50px;
    justify-content: space-between;
    margin-bottom: 50px;

    .text {
        max-width: 400px;
        width: 100%;

        p.t1 {
            margin-bottom: 0;
        }

        &.big {
            max-width: 496px;
            width: 100%;

            p.t1 {
                margin-bottom: 25px;
            }
        }
    }

    .image {
        max-width: 450px;
        width: 100%;
        aspect-ratio: 450/299;
        position: relative;
        .img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &.small {
            max-width: 334px;
            width: 100%;
            aspect-ratio: auto;

            .img {
                bottom: 0;
                position: absolute;
            }
            .patern {
                width: 67%;
                height: auto;
                right: -7%;
                bottom: 120px;
                top: auto;
            }
        }

        .patern {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}

h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: #444444;
    margin-bottom: 10px;
}

.reglaments {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 30px;
    margin-bottom: 50px;

    .left {
        max-width: 205px;
        width: 100%;
        padding: 20px;
        border: 1px solid #E0E0E0;
        background-color: #fff;
        h4 {
            color: #111;
            margin-bottom: 20px;
        }
        a {
            display: block;
            width: 100%;
            border: 1px solid #E0E0E0;
            padding: 10px;
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            color: #111111;
            transition: 0.3s ease-in-out;

            img {
                margin-bottom: 10px;
            }

            &:hover {
                background-color: #E0E0E0;
            }
        }
    }

    .right {
        h4 {
            margin-bottom: 25px;
        }
    }
}

.sudziba {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    align-items: flex-start;

    a {
        flex-shrink: 0;
        background-color: #9E3039;
        color: #fff;
        padding: 20px 30px;
        display: block;
        font-weight: 700;
        font-size: 20px;
        line-height: 140%;
        display: flex;
        align-items: center;
        column-gap: 10px;
        transition: background-color 0.3s ease-in-out;

        span {
            transition: transform 0.3s ease-in-out;
        }

        &:hover {
            background-color: #E0E0E0;
            color: #9E3039;

            span {
                transform: translateX(5px);
            }
        }
    }
}

.sudziba-block {
    background-color: #fff;
    display: flex;
    border: 1px solid #E0E0E0;
    padding: 20px;
    align-items: center;
    column-gap: 50px;
    margin-bottom: 50px;

    .links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 188px;
        flex-shrink: 0;
        row-gap: 25px;

        a {
            display: flex;
            column-gap: 10px;
            padding: 10px;
            border: 1px solid #E0E0E0;
            transition: 0.3s ease-in-out;
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            color: #111111;

            &:hover {
                background-color: #E0E0E0;
            }
        }
    }
}

footer .button.mob {
    display: none;
}

.dropdown-mob {
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: #111111;
    border: 1px solid #E0E0E0;
    background-color: #fff;
    margin-bottom: 50px;
    margin-top: -20px;
    display: none;

    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;

        svg {
            transition: 0.3s ease-in-out;
        }
    }

    &.active .head svg{
        transform: rotate(180deg);
    }

    .body {
        display: none;
    }

    a {
        padding: 10px 20px;
        display: block;
    }
}

.swiper .swiper-slide .img svg {
    display: none;
}

@media only screen and (max-width: 1450px) {
    header .links .item .dropdown {
        left: auto;
        right: 0;
        max-width: none;
        width: auto;
        flex-shrink: 0;
    }
}

@media only screen and (max-width: 1320px) {
    .split-flex .mask-image {
        mask-position: 0%;
    }
    .split-flex .right:hover .mask-image {
        mask-position: -20% 0;
    }
}

@media only screen and (max-width: 1200px) {
    .el-wrap .pagination {
        display: none;
    }
    .split-flex .mask-image {
        mask-position: 10%;
    }
    .split-flex {
        align-items: center;
    }

    footer .footer-flex.big {
        flex-wrap: wrap;
        row-gap: 50px;
    }
    .section-container h2.small {
        max-width: 520px;
    }
}  

@media only screen and (max-width: 1100px) {
    .desk-logo {
        display: none;
    }
    .mob-logo {
        display: block;
    }
    header .links {
        display: none;
    }
    .hamburger {
        display: block;
        align-self: center;
    }
    header {
        padding: 10px 20px;
        height: auto;
    }
    .octa {
        padding-right: 20px;
    }
    h1 {
        font-size: 40px !important;
    }
    h2 {
        font-size: 30px !important;
    }
    h3 {
        font-size: 20px !important;
    }
    .swiper .title {
        font-size: 30px;
    }
    .slider-wrap {
        height: fit-content;
    }
    .swiper {
        height: fit-content;
    }
    .split-page aside {
        display: none;
    }
    .page-image {
        position: relative;
        margin-top: -150px;
        margin-bottom: 50px;
        right: auto;
    }
    .page-image + h2 {
        margin-bottom: 25px;
    }
    .dropdown-mob {
        display: block;
    }
    .swiper .title {
        max-width: 420px;
    }
    .swiper .button {
        margin-top: 50px;
    }
    .swiper .swiper-slide {
        height: auto;
    }
}


@media only screen and (max-width: 1000px) {
    .split-flex .mask-image {
        mask-position: 20%;
    }
    footer .footer-wrap {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .section-container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .section-container.small-padding-top {
        padding-top: 50px;
    }
    .gallery {
        justify-content: center;
    }
    .page-image {
        margin-top: -50px;
    }
}

@media only screen and (max-width: 900px) {
    .split-flex .left {
        padding-top: 0;
    }
    .split-flex {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .left {
            max-width: none;
        }
    }
    .octa {
        padding: 20px;
    }
    .octa .car {
        position: relative;
        top: auto;
        right: auto;
        left: auto;
        max-width: 300px;
        transform: none;
        margin: 0 auto;
        width: 100%;
        margin-bottom: 40px;
    }
    footer .footer-flex .links {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .riki .right{
        display: none;
    }
    .riki .left {
        width: 100%;
        border-right: 1px solid #E0E0E0;
    }
    .octa h1 {
        margin-bottom: 20px;
    }
    .swiper .swiper-slide.swiper-slide-active .img .image {
        position: relative;
        top: auto;
        right: auto;
        left: auto;
        width: 100%;
        max-height: 300px;
    }
    .swiper .swiper-slide .img .text-bg {
        display: none;
    }
    .swiper .text-wrap {
        padding-top: 50px;
    }
    .swiper .text-wrap .text-container {
        max-width: 480px;
        width: 100%;
    }
    .swiper .el-wrap .arrows div {
        width: 18px;
    }
    .swiper .el-wrap {
        top: 350px;
        justify-content: flex-end;
    }
    .swiper .swiper-slide .img .image {
        transition: none;
    }
    .swiper .swiper-slide .text-container {
        transition: none;
    }
    .swiper .button {
        margin-top: 50px;
        background-color: #9E3039;
        color: #fff;
    }
    .page-links .buttons .link {
        padding: 20px;
        line-height: 1;
    }
    .page-links .buttons .link:first-of-type span:last-of-type {
        display: none;
    }
    .page-links .buttons .link:last-of-type span:first-of-type {
        display: none;
    }
    .image-text {
        flex-wrap: wrap;
        row-gap: 25px;
        justify-content: center;
    }
    .image-text .text {
        max-width: none;
    }
    .image-text .image .patern {
        height: 65%;
    }
    .image-text .image.small .img {
        position: relative;
        bottom: auto;
        left: auto;
        right: auto;
    }
    .image-text .text.big {
        max-width: none;
    }
    .swiper .swiper-slide.swiper-slide-active .img {
        position: relative;
    }
    .swiper .swiper-slide.swiper-slide-active .img svg {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

@media only screen and (max-width: 660px) {
    .gallery .item.big {
        flex-direction: column;
        max-width: 260px;

        .img-wrap {
            margin-bottom: 20px;
        }
    }
    .gallery .item.big .text-wrap span {
        margin-top: 10px;
    }
    .gallery {
        justify-content: center;
    }
    .reglaments {
        flex-direction: column;
        row-gap: 25px;
        justify-content: center;
        align-items: center;
    }
    .reglaments .left {
        max-width: none;
    }
    .sudziba {
        flex-direction: column;
        margin-bottom: 25px;
    }
    .sudziba-block {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 25px;
    }
}

@media only screen and (max-width: 600px) {
    .octa .flex {
        row-gap: 40px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer .button {
        display: none;
    }
    footer .button.mob {
        display: flex;
        margin-top: 0;
        align-items: center;
    } 
    footer .copyright {
        margin-top: 40px;
    }
    .split-flex .mask-image {
        transform: translateX(-5%);
    }
    .kontakt-flex {
        flex-direction: column;
        row-gap: 20px;
    }
    .kontakt-flex .col {
        width: 100%;
    }
    footer .footer-flex .contact {
        max-width: none;

        h3 br{
            display: none;
        }

       h3 {
        font-style: normal;
        font-weight: 700;
        font-size: 16px !important;
        line-height: 140%;
        color: #FFFFFF;
       }
    }
}

@media only screen and (max-width: 440px) {
    .swiper .swiper-slide.swiper-slide-active .img .image {
        max-height: 210px;
    }
    .swiper .el-wrap {
        top: 260px;
    }
    .gallery .item {
        max-width: none;
    }
    .gallery .item.big {
        max-width: none;
    }
    .gallery .item .img-wrap .pattern {
        max-width: none;
        height: 100%;
    }
    .map-wrap {
        aspect-ratio: 280/373;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .page-image {
        margin-left: -20px;
        margin-right: -20px;
        width: calc(100% + 40px);
    }
}

@media only screen and (max-width: 395px) {
    .parskati-flex a {
        width: 100%;
    }
}

@media only screen and (max-width: 360px) {
    .octa .flex .link {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .swiper .button {
        display: flex;
        width: 100%;
        justify-content: center;
    }
}